<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <default>
        <payment>
            <custompayment>
                <payment_action>authorize</payment_action> <!-- You can use another method -->
                <model>Custom\CustomPayment\Model\PaymentMethod</model> <!-- Ensure this model exists -->
                <active>1</active>
                <title>Custom Payment</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
            </custompayment>
        </payment>
    </default>
</config>