<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Brand_Grid::brand_grid_snaptec" 
            title="Snaptec" 
            module="Brand_Grid" 
            sortOrder="20" 
            resource="Magento_Backend::content" />
        <add id="Brand_Grid::manage_brands" 
            title="Manage Brand" 
            module="Brand_Grid" 
            sortOrder="1" 
            action="brands/view/index"
            parent="Brand_Grid::brand_grid_snaptec" 
            resource="Magento_Backend::content" />
    </menu>
</config>